/* * Header * */
/* line 3, ../sass/include/_header.scss */
#masthead {
  background: #141A3D;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 99980;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
}
/* line 10, ../sass/include/_header.scss */
#masthead .site-title {
  padding: 20px 0;
  margin: 0;
  display: block;
  float: left;
  font-family: "Montserrat", "Barlow", Helvetica, "Helvetica Neue", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}
/* line 22, ../sass/include/_header.scss */
#masthead .site-title a {
  color: inherit;
}
/* line 26, ../sass/include/_header.scss */
#masthead .main-navigation {
  float: right;
  line-height: 0;
  margin: 0;
  padding: 0;
  text-align: right;
}
/* line 31, ../sass/include/_header.scss */
#masthead .main-navigation button {
  display: none;
}
@media (max-width: 991px) {
  /* line 36, ../sass/include/_header.scss */
  #masthead .main-navigation {
    display: none;
  }
}
/* line 41, ../sass/include/_header.scss */
#masthead .main-navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* line 44, ../sass/include/_header.scss */
#masthead .main-navigation ul li {
  display: inline-block;
  position: relative;
  font-size: 14px;
  line-height: 20px;
  padding: 18px 0 22px;
  margin-left: 50px;
}
/* line 50, ../sass/include/_header.scss */
#masthead .main-navigation ul li ul, #masthead .main-navigation ul li .sub-menu {
  display: none;
}
/* line 53, ../sass/include/_header.scss */
#masthead .main-navigation ul li a {
  color: #fff;
}
/* line 55, ../sass/include/_header.scss */
#masthead .main-navigation ul li a:hover {
  text-shadow: 0 0 .65px #fff, 0 0 .65px #fff;
  /*font-weight: 700;*/
}
/* line 66, ../sass/include/_header.scss */
#masthead .main-navigation ul li.current-menu-item > a, #masthead .main-navigation ul li.current-menu-ancestor > a, #masthead .main-navigation ul li.current-menu-parent > a, #masthead .main-navigation ul li.current_page_parent > a, #masthead .main-navigation ul li.current_page_ancestor > a, #masthead .main-navigation ul li.current-page-ancestor > a {
  /*font-weight: 700;*/
  text-shadow: 0 0 .65px #fff, 0 0 .65px #fff;
  color: #fff;
}
/* line 72, ../sass/include/_header.scss */
#masthead .main-navigation ul li.current-menu-item::after, #masthead .main-navigation ul li.current-menu-ancestor::after, #masthead .main-navigation ul li.current-menu-parent::after, #masthead .main-navigation ul li.current_page_parent::after, #masthead .main-navigation ul li.current_page_ancestor::after, #masthead .main-navigation ul li.current-page-ancestor::after {
  content: '';
  position: absolute;
  width: 24px;
  height: 4px;
  background: #D7DF23;
  left: 50%;
  margin-left: -12px;
  top: 45px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}

/* * Notification Bar * */
/* line 1, ../sass/include/header/_notification.scss */
.notification-bar {
  position: absolute;
  width: 100%;
  top: 60px;
  background: #fac743;
  z-index: 99970;
}
/* line 7, ../sass/include/header/_notification.scss */
.notification-bar .heading4 {
  font-weight: 800;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.44px;
}
/* line 12, ../sass/include/header/_notification.scss */
.notification-bar a {
  display: block;
  position: relative;
  width: 100%;
  color: inherit;
  padding: 17px 0;
}
/* line 18, ../sass/include/header/_notification.scss */
.notification-bar a span {
  position: relative;
  z-index: 1;
  transition-delay: 0.5s;
  transition: all 0.25s ease;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
}
/* line 27, ../sass/include/header/_notification.scss */
.notification-bar a span.pointer {
  background: #fff url(../images/arrow-next.png) no-repeat center center;
  display: grid;
  place-items: center;
  width: 26px;
  height: 26px;
  background-size: 8px 13px;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  padding: 0;
  margin: 0 0 0 20px;
}
/* line 35, ../sass/include/header/_notification.scss */
.notification-bar a::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #d7df23;
  transform-origin: left;
  transition: width 0.5s ease;
  z-index: 0;
}
/* line 47, ../sass/include/header/_notification.scss */
.notification-bar a:hover {
  color: #141a3d;
}
/* line 49, ../sass/include/header/_notification.scss */
.notification-bar a:hover span.pointer {
  background-image: url(../images/arrow-next_white.png);
  background-color: #141a3d;
  color: white;
}
/* line 53, ../sass/include/header/_notification.scss */
.notification-bar a:hover::after {
  width: 100%;
}
@media (max-width: 991px) {
  /* line 1, ../sass/include/header/_notification.scss */
  .notification-bar {
    /*    a {
          span {
            background-size: 12px 18px;
          }
        }*/
  }
}
@media (max-width: 839px) {
  /* line 67, ../sass/include/header/_notification.scss */
  .notification-bar .heading4 {
    font-size: 16px;
    line-height: 26px;
  }
  /* line 70, ../sass/include/header/_notification.scss */
  .notification-bar a {
    text-align: left;
    /*padding: 25px 0;*/
  }
  /* line 73, ../sass/include/header/_notification.scss */
  .notification-bar a span {
    padding-right: 50px;
    background-size: 10px 15px;
  }
  /* line 77, ../sass/include/header/_notification.scss */
  .notification-bar a span.pointer {
    padding: 0;
    position: absolute;
    right: 1.25rem;
    bottom: 15px;
  }
}
@media (max-width: 639px) {
  /* line 85, ../sass/include/header/_notification.scss */
  .notification-bar .heading4 {
    font-size: 14px;
    line-height: 20px;
  }
}

/* * Home Bottom * */

/* line 211, ../sass/include/_home.scss */
.home-bottom {
  padding: 85px 0 100px;
  text-align: center;
  position: relative;
}
/* line 215, ../sass/include/_home.scss */
.home-bottom__bg {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-image: url(../images/bg-dots-blue.png);
  background-position: center center;
  background-size: 16px 16px;
  z-index: -1;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

/* line 224, ../sass/include/_home.scss */
.home-bottom .content {
  display: inline-block;
  background: #fff;
  max-width: 710px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 80px 30px;
}
/* line 231, ../sass/include/_home.scss */
.home-bottom .content h2 {
  margin: 0 0 20px;
  font-weight: 800 !important;
}
@media (max-width: 639px) {
  /* line 211, ../sass/include/_home.scss */
  .home-bottom {
    padding: 32px 0 100px;
  }
  /* line 238, ../sass/include/_home.scss */
  .home-bottom .container {
    padding: 0 32px;
  }
  /* line 241, ../sass/include/_home.scss */
  .home-bottom .content {
    padding: 20px;
  }
}
